//Vertical Rhythm settings

$base-font-family: 'Abhaya Libre', helvetica;
$heading-font-family: 'Alex Brush', helvetica;
$base-font-size: 1em;
$bold-weight: 600;
body {
	font-family: $base-font-family;
}
h1, h2, h3 {
	font-family: $heading-font-family;
}
h1 {
	font-size: $base-font-size * 4;
	margin: $vert-spacing-unit/2 0;
	font-weight: 400;
}
h5 {
    font-size: $base-font-size;
    font-weight: 600;
}
sup {
	vertical-align: super;
	font-size: $base-font-size * .7;
}
sub {
	vertical-align: sub;
	font-size: $base-font-size * .7;
}
strong {
    font-weight: $bold-weight;
}
ul li, ol li {
	ul, ol {
		padding-left: 15px;
		ul, ol {
			padding-left: 20px;
		}
	}
}
caption {
	font-style: italic;
}

